:root {
  --blueRGB: 0, 108, 150;
  --blue: rgba(var(--blueRGB), 1);
  --darkBlueRGB: 0, 63, 85;
  --media-viewer-background-rgb: 0, 31, 43; /* dark blue */
  --media-viewer-background: rgba(var(--media-viewer-background-rgb), 1);
  --dark-blue: rgba(var(--darkBlueRGB), 1);
  --emoji-filter-desaturate: saturate(0.3) contrast(1.3); /* emojis in selection panel */
  --emoji-filter-bw: saturate(0.02) opacity(0.9) drop-shadow(0 1px 2px #000); /* emojis in chat */
  /* --outgoing-background: var(--blue); */
  --outgoing-background: rgba(0, 0, 0, 0.5);
  --outgoing-background-rgb: 0, 0, 0;
  --dropdown-background: rgba(10, 31, 41, 0.95);
  --dropdown-background-hover: var(--dark-blue);
  --background-default-hover: rgba(20, 41, 51, 0.95);
  --outgoing-background-deeper: var(--outgoing-background);
  --conversation-panel-background: var(--dark-blue);
  --button-primary-background: var(--dark-blue);
  --button-primary-background-hover: var(--blue);
  --button-alternative-background: var(--dark-blue);
  --button-secondary: var(--blue);
  --button-secondary-hover: var(--blue);
  --button-secondary-background-hover: var(--incoming-background);
  --teal: var(--blue);
  --teal-lighter: var(--blue);
  --button-round-background: var(--dark-blue);
  --panel-background-deeper: var(--background-default);
  --panel-background-colored: var(--blue);
  --panel-background-colored-deeper: var(--blue);
  --border-input-active: var(--blue);
  --unread-marker-background: var(--blue);
  --icon-ack: var(--blue);
  --icon-lighter: var(--blue);
  --icon-lighter-rgb: var(--blueRGB);
  --icon-strong: var(--primary-stronger);
  --input-border-active: var(--blue);
  --active-tab-marker: var(--blue);
  --incoming-background: rgba(255, 255, 255, 0.05);
  --incoming-background-rgb: 255, 255, 255;
  --incoming-background-deeper: var(--incoming-background);
  --primary: #999;
  --primary-text: #ccc;
  --primary-strong: #ddd;
  --primary-stronger: #ddd;
  --border-list: var(--outgoing-background);
  --border-panel: var(--border-list);
  --background-default: var(--dropdown-background);
  --background-default-active: var(--dark-blue);
  --secondary: #999;
  --secondary-lighter: #777;
  --secondary-stronger: var(--secondary);
  --chatlist-icon: var(--secondary);
  --bubble-meta: var(--secondary);
  --intro-background: var(--dropdown-background);
  --intro-border: var(--blue);
  --avatar-placeholder-background: var(--dark-blue);
  --avatar-placeholder-primary: var(--blue);
  --notification-e2e-background: #aaa;
  --panel-background: rgba(32, 44, 51, 1);
  --panel-header-background: var(--panel-background-lighter);
  --panel-background-lighter: var(--background-default-hover);
  --panel-background-deep: var(--background-default-hover);
  --compose-background: var(--background-default);
  --media-viewer-button-background: var(--dark-blue);
  --app-background-stripe: var(--blue);
  --unread-background: var(--dark-blue);
  --chat-marker-admin-border: var(--dark-blue);
  --chat-marker-admin: var(--blue);
  --menu-tabs-list-active: var(--panel-background-deep);
  --panel-background-hover: var(--background-default-hover);
  --modal-backdrop: rgba(var(--media-viewer-background-rgb), 0.95);
  --modal-background: var(--outgoing-background);
  --system-message-background: var(--blue);
  --compose-panel-background: rgba(0, 0, 0, 0.2);
  /* --rich-text-panel-background: var(--compose-panel-background); */
  --rich-text-panel-background: var(
    --background-default
  ); /* var(--panel-background); */
  --modal-backdrop-solid: var(--blue);
  --drawer-background: var(--outgoing-background);
  --drawer-section-background: var(--background-default);
  --drawer-gallery-background: var(--background-default);
  --avatar-background: var(--dark-blue);
  --typing: var(--blue);
  --checkbox-background: var(--blue);
  --audio-track-outgoing: var(--dark-blue);
  --message-primary: #ccc;
  --compose-primary: var(--message-primary);
  --intro-secondary: rgba(255, 255, 255, 0.45);
  --primary-title: #eee;
  --search-container-background: var(--compose-background);
  --search-input-background: var(--compose-background);
  --compose-border: var(--dark-blue);
  --compose-input-background: #000;
  --compose-input-border: #000;
}

/* expand to window size */
html[dir] .app-wrapper-web ._36Q2N {
  top: 0; 
  width: 100%;
  height: 100%;
}

html[dir] body {
  background-color: var(--background-default);
  background-image: none;
  color: #aaa;
}

html[dir] .app-wrapper-web .h70RQ {
  top: 0;
  width: unset;
  height: 100%;
}

::selection {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

/* various SVGs */
[fill='#00DA60'] {
  fill: var(--blue) !important;
}

html[dir] ._1FKgS::after {
  background-color: var(--blue);
}

html[dir] ._3qlW9:after {
  border-top: 6px solid var(--blue);
}

._3qlW9 a {
  color: var(--blue);
}

html[dir] ._2EXPL._1f1zm {
  background-color: #bbb;
}

/* message in bubble arrow */
.message-in .tail-container {
  filter: opacity(0.05);
}

/* hide bubble arrows shadow */
html[dir] body [data-icon^='tail'] svg path[opacity] {
  display: none;
}

/* message in text shadow */
html[dir] body .message-in .MVjBr {
  text-shadow: 0 1px 1px var(--outgoing-background);
}

html[dir] .message-out ._2Wx_5 {
  background-color: var(--blue) !important;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

html[dir] .message-out a {
  color: inherit;
}

/* outgoing message bubble arrow */
html[dir='ltr'] .message-out .tail-container {
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAYAAADeB1slAAAAuElEQVR4Ae3SAcYCYRyE8fnv50MsanWOlOgqEYIAAhDoAiGE0mlKKBAdIpHO0KrnCLs0KC9+AB7DSNPNq4Yz5sihSuoFAGwRzsAduTNwQcMZmEGuwBGFK/DAAHIESkwghCOwxj/CseCENlRbxc/3IUegxBhyBVb4QzgCBxSQY8ENXcgRKDGCEI7AEhnCsWCHFgR8NnBFB3IEnhhCCEdggQxyLNijCbkCPcgZyL4+gBRIgRRIgd8OvAHYFU5UjNGc6wAAAABJRU5ErkJggg==); */
  filter: opacity(0.7) saturate(0) invert(1);
}

/* html[dir] .message-in ._2Wx_5 {
	background-color: rgba(255, 255, 255, 0.7) !important;
} */

/* bubble context menu */
html[dir='ltr'] ._1i1U7._2DNgV,
html[dir='ltr'] ._15CAo._3EQsG,
html[dir='ltr'] body ._1q11a._4tndQ {
  background: linear-gradient(
    to right,
    rgba(0, 108, 150, 0) 0%,
    var(--outgoing-background) 50%
  );
}
html[dir='ltr'] ._1i1U7.jZ4tp,
html[dir='ltr'] body ._1q11a._2nBjH {
  background: linear-gradient(
    to right,
    rgba(var(--incoming-background-rgb), 0) 0%,
    rgba(var(--incoming-background-rgb), 0.2) 50%
  );
}

html[dir] ._34D8D {
  color: var(--primary-stronger);
}
html[dir] ._36Zz0._1exov {
  color: #333;
}

html[dir] ._1sGGp._2nFG1 {
  background-color: rgba(255, 255, 255, 0.2);
}

/* emoji in messages */
html[dir] .selectable-text img,
html[dir] img.emoji {
  filter: var(--emoji-filter-bw);
}
/* emoji selection panel */
html[dir] body ._1kf8y .emojik,
/* emoji mini selection panel */
html[dir] body .EzwCf .emojik {
  filter: var(--emoji-filter-desaturate);
}

/* huge ass emoji */
html[dir] body .QkfD1._2DV1k,
html[dir] body .QkfD1._1D2ku {
  width: 32px;
  height: 32px;
}

/* msg read */
/* [data-icon="msg-dblcheck"] {
	color: rgba(0, 0, 0, 0.4) !important;
} */

/* msg not read */
/* [data-icon="msg-check"] {
	color: rgba(255, 255, 255, 0.15) !important;
} */

html[dir] ._1GX8_ {
  background-color: rgb(36, 54, 64);
}

/* intro image */
[data-asset-intro-image],
[data-asset-intro-image-light] {
  /* filter: grayscale(1); */
  filter: opacity(0.6);
  background-color: #00a9ec;
  background-blend-mode: luminosity;
}

/* intro bottom border */
html[dir] ._2zynu:after,
html[dir] ._1qNwV:after {
  border-top-color: var(--dark-blue) !important;
}

/* intro link */
._1qNwV a {
  color: var(--dark-blue) !important;
}

html[dir] .iFKgT:after {
  border-top: 6px solid var(--blue) !important;
}

/* avatars */
html[dir] ._1WliW {
  border: 2px solid rgba(0, 0, 0, 0.45);
  background-color: var(--dark-blue) !important;
}

/* sidebar */
/* html[dir] ._2EXPL {
	background: unset;
}
html[dir] ._1NrpZ {
	background-color: #e0e0e0;
} */
html[dir] ._25Ooe {
  color: var(--primary-stronger);
}
html[dir] ._14MyY {
  color: var(--blue);
}

/* progress bar */
progress {
  border-radius: 2px;
  /* height: 8px; */
  overflow: hidden;
}
progress[value]::-webkit-progress-value {
  background-color: var(--blue);
}

/* typing indicator */
.vdXUe {
  color: inherit !important;
}

/* chat background image */
html[dir] body [data-asset-chat-background] {
  opacity: 0.15;
}

/* chat background color */
html[dir] .NuujD {
  background-color: #002d3f !important;
}

/* buttons */
/* primary */
html[dir] ._3PQ7V {
  background: var(--blue);
}
html[dir] ._3PQ7V:hover {
  background: var(--dark-blue);
}

/* secondary */
._23_1v {
  color: var(--blue);
}
._23_1v:hover {
  color: var(--dark-blue);
}

/* svg loader  */
.XqrVN {
  stroke: var(--blue);
}

/* connection warning  */
html[dir] ._1puWZ,
html[dir] ._2xikZ {
  background: var(--blue);
}
._1puWZ ._28Bny, ._2xikZ ._28Bny,
._1puWZ ._2JIoO, ._2xikZ ._2JIoO,
._3Dr0Q ._28Bny /* update available text */ {
  color: #fff;
}

/* update link */
html[dir] ._3Dr0Q ._2JIoO {
  color: var(--blue);
}

/* link preview background */
/* sound recording background */
/* reply background */
html[dir] ._2pvbg.D4OT6,
html[dir] ._1AUdd._1SsXF,
html[dir] ._1o6AT ._1mrMQ,
html[dir] ._2nZ2E.HNuTV,
html[dir] .message-out ._2HTIU,
html[dir] .message-out .MVjBr {
  background-color: var(--outgoing-background) !important;
}

html[dir] body ._3zVOv,
html[dir] body ._2a30d {
  color: var(--primary-stronger);
}

/* link preview text */
/* ._2cR8w {
	color: #000 !important;
	text-shadow: none !important;
	font-size: inherit !important;
} */

/* encryption notification */
html[dir] .S-bQb {
  background-color: rgba(225, 245, 254, 0.92) !important;
  opacity: 0.3;
}

/* image upload preview */
html[dir] ._1WD8C {
  background: var(--blue) !important;
}

html[dir] ._2Fvnm ._3ogpF,
html[dir] ._5UNoc ._3hnO5 {
  border-bottom-color: var(--blue) !important;
}

html[dir] ._1g8sv {
  background-color: var(--blue) !important;
}

/* field labels */
._3he1q {
  color: var(--blue) !important;
}

/* profile sidebar header */
html[dir] ._3jHKU {
  background: var(--blue) !important;
}

/* update notification */
html[dir] ._3Dr0Q {
  background: var(--blue) !important;
}
/* cite */
.color-1 {
  color: var(--dark-blue) !important;
}
.bg-color-1 {
  background-color: var(--dark-blue) !important;
}

/* titlebar text */
html[dir] ._3XrHh,
html[dir] ._1CSx9 .Ghmsz {
  color: var(--primary-stronger);
}

/* compose text */
html[dir] ._3F6QL ._2S1VP {
  color: var(--primary-stronger);
}

/* inactive emoji selector tabs */
html[dir] .GclUX {
  color: var(--primary-title);
}
/* active emoji selector tab */
html[dir] .GclUX._2DzXb {
  color: var(--secondary);
}

/* disabled media carousel button */
html[dir] ._3Yq07 {
  opacity: 0.2;
}
html[dir] body ._8Yseo {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* carousel thumbs */
html[dir] body ._1iCCh {
  filter: opacity(0.4) blur(1px);
  background-color: var(--dark-blue);
  background-blend-mode: luminosity;
  border-radius: 3px;
  transition: filter 0.2s linear;
}

html[dir] body ._1xQmx {
  transform: none;
  border: none;
}

html[dir] body ._1xQmx ._1iCCh {
  filter: none;
  background-blend-mode: normal;
}

html[dir='ltr'] body .UPNDG:hover:not(._1xQmx) {
  outline: 1px solid rgba(255, 255, 255, 0.3) !important;
  outline-offset: -3px;
}

html[dir='ltr'] body .UPNDG:hover:not(._1xQmx) ._1iCCh {
  filter: opacity(0.4) blur(0.1px);
  /* background-blend-mode: multiply; */
}

/* contact info buttons */
html[dir] body ._3LL06 {
  color: var(--primary-stronger);
}

/* modal text */
html[dir] body ._1CnF3 {
  color: var(--primary-stronger);
}

/* edit group admins */
html[dir='ltr'] body ._2EXPL._2rVcC ._25Ooe,
html[dir='ltr'] body ._2EXPL._2rVcC ._1AwDx {
  color: var(--blue) !important;
}

/* select messages for forwarding */
html[dir] body ._3D9Wd {
  background-color: var(--outgoing-background);
}

/* system messsages */
html[dir] body .Zq3Mc {
  text-shadow: 0 1px 1px rgba(var(--inverse-rgb), 0.4);
}

/* contact info panel */
/* html[dir] body ._2fq0t {
  background-color: ;
} */

/* contact info panel title */
html[dir] body .iYPsH {
  color: var(--primary-stronger);
}

/* contact info modal title */
html[dir] body ._3xX6I._2EXPL {
  background: transparent;
}

/* bold text */
html[dir] body ._3zb-j strong {
  color: inherit;
}

/* unread bar */
html[dir] body ._9WQEN {
  border: 0;
  /* padding: 0; */
  background: linear-gradient(
    to bottom,
    transparent calc(50% - 2px),
    var(--unread-bar-background) 50%,
    transparent calc(50% + 2px)
  );
}

html[dir] body ._9WQEN span {
  border: 2px solid var(--unread-bar-background);
  height: auto;
}

/* mention @ symbol */
html[dir] .matched-mention .at-symbol {
  color: inherit;
}

/* search box in forward popup */
/* html[dir] body .gQzdc {
  background-color: var(--background-default);
} */

/* audio play button */
html[dir] body ._2Y-Jy {
  color: var(--blue);
}

/* audio icon */
html[dir] body [data-icon='audio-file'] svg > path:first-child {
  fill: var(--blue);
}

/* profile drawer */
html[dir] body ._2vPAk {
  background: var(--background-default);
}

/* chatlist */
/* html[dir] body .eJ0yJ:hover ._2kHpK {
  border-top-color: unset;
} */
html[dir] body ._2kHpK {
  border: none;
}

html[dir] body .eJ0yJ:not(._13opk):not(:hover) {
  --list-border-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom,
    var(--list-border-color),
    transparent 1px,
    transparent calc(100% - 1px),
    var(--list-border-color)
  );
}

/* scrollbars */
* {
  scrollbar-color: hsla(0, 0%, 100%, 0.16) transparent;
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--blueRGB), 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

/* checkboxes */
html[dir] body ._1177f {
  border-color: var(--blue);
}

/* radio buttons */
html[dir] body [type='radio'] {
  -webkit-appearance: none;
  width: 2.6ex;
  height: 2.5ex;
  border: 2px solid var(--blue);
  border-radius: 50%;
  vertical-align: text-bottom;
  margin-right: 1em;
}

html[dir] body [type='radio']:checked {
  background-color: var(--blue);
  box-shadow: inset 0 0 0 1px var(--outgoing-background);
}
